*{
    padding:0;
    margin: 0;
}
header{

    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
}
header .logo {
    align-items:center;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 47px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
header .logo a{
    font-size: 22px;
    display: inline-block;
}
header .logo a i {
    font-size:20px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    border-radius: 50%;
    padding: 8px 10px;

}
header .logo p{
    font-size: 16px;
    padding-top: 30px;
    padding-right:48px;
    display: inline-block;
    justify-content: space-between;
}


.wallp{
    position: relative;
    z-index: 1;
    background:url('../images/contact_01.png') no-repeat ;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
header h1{
    font-family: "Open Sans", sans-serif; font-style:normal;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 265px;
}
header h1 span{
    font-family: "Open Sans", sans-serif; font-style: italic;
}
.contact{
    padding-top: 130px;
    text-align: center;
}
.contact h3{
    color: #d4af37;
    text-transform: uppercase;
    font-size: 13px;
}
.contact h2{
    color: #747a7f;
    font-size: 44px;
    padding-top: 30px;
    padding-bottom: 90px;
}
.container{
    max-width: 767px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.b1{
    background-color: #d3b000;
    height: 300px;
    width: 300px;
}
.b1 p{
    text-align: left;
    padding-left: 32px;
    padding-top: 82px;
    color: white;
    font-size: 25px;
}
.b2{
    margin-left: 3px;
    height:300px ;
    width: 460px;
}
.b3{
    background-color: #f9f9f9;
    height: 300px;
    width: 465px;
}
.b3 p{
    color: #323d43;
    padding-top: 50px;
    padding-left: 32px;
    font-size: 20px;
    text-align: left;
}
.b4{
    background-color: #212121;
    height:300px ;
    width: 300px;
}